@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){

    * {
        padding: 0px;
        margin: 0px;
    }

    body, html {
        width: 100vw;
    }

    iframe { width: 100%; }
    
    div {
        padding: 10px;
    }

    #burguer{ display: none; }

    header nav.main a { display: block; }

    header a {
        color: black;
        text-decoration: none; /*Para tirar o sublinhado do link*/
        padding: 15px;
        margin-right: 20px;
        font-family: 'Roboto', sans-serif;
    }

    header#container { 
        position: relative;
    }

    header nav#conteudo {
        width: 90vw;
        margin-left: 6%;
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        transform: translate(-50%, -50%);
    }

    menu#main a#reserve{ display: block; }

    a#reserve {
        background-color: black;
        color: white;
        margin-right: 20px;
        display: flex;
    }

}

@media screen and (min-width: 992px)  /*Se tiver no mínimo 992px, pega desktop e telas grandes*/ {
    @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    #burguer{ display: none; }

    header nav.main a { display: block; }

    header a {
        color: black;
        text-decoration: none; /*Para tirar o sublinhado do link*/
        padding: 15px;
        margin-right: 20px;
        font-family: 'Roboto', sans-serif;
    }

    header#container { 
        position: relative;
    }

    header nav#conteudo {
        width: 90vw;
        margin-left: 6%;
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        transform: translate(-50%, -50%);
    }

    menu#main a#login{ display: block; }

    menu#main a#telefone{ display: block; }

    menu#main a#reserve{ display: block; }

    a#reserve {
        background-color: black;
        color: white;
        margin-right: 20px;
        display: flex;
    }

    #info {
        display: flex;
        position: relative;
        left: 40vw;
    }
}
