@charset "UTF-8";

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 992px){

    body, html {
        width: 100vw;
    }

    .iquartos {
        display: block;
        margin: auto;
        margin-top: 20px;
        max-width: 500px;
    }

    #burguer{ display: none; }

    header nav.main a { display: block; }

    header a {
        color: black;
        text-decoration: none; /*Para tirar o sublinhado do link*/
        padding: 10px;
        margin-right: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 0.9em;
    }

    header#container { 
        position: relative;
    }

    header nav#conteudo {
        width: 80vw;
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        transform: translate(-40%, -50%);
    }

    menu#mainquarto a#reserve{ display: block; }

    a#reserve {
        background-color: black;
        color: white;
        margin-right: 20px;
        display: flex;
    }
}
@media screen and (min-width: 992px) and (max-width: 1242px) {
    @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    .iquartos {
        display: block;
        margin: auto;
        margin-top: 20px;
        max-width: 600px;
    }

    #burguer{ display: none; }

    header nav.main a { display: block; }

    header a {
        color: black;
        text-decoration: none; /*Para tirar o sublinhado do link*/
        padding: 15px;
        margin-right: 20px;
        font-family: 'Roboto', sans-serif;
    }

    header#container { 
        position: relative;
    }

    header nav#conteudo {
        width: 80vw;
        margin-left: 10%;
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        transform: translate(-50%, -50%);
    }

    menu#mainquarto a#login{ display: none; }

    menu#mainquarto a#telefone{ display: none; }

    menu#mainquarto a#reserve{ 
        display: block; 
        display: flex;
        position: relative;
        left: 20px;
    }

    a#reserve {
        background-color: black;
        color: white;
        margin-right: 20px;
        display: flex;
    }
}

@media screen and (min-width: 1242px) {
    @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    #container {
        position: relative;
    }

    .iquartos {
        max-width: 600px;
        display: inline-block;
        /*border: 25px solid rgba(219, 215, 215, 0.123);
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.103);
        border-radius: 10px;
        margin-left: 10px;*/
    }

    #quartos {
        display: block;
        text-align: center;
    }

    #burguer{ display: none; }

    header nav.main a { display: block; }

    header a {
        color: black;
        text-decoration: none; /*Para tirar o sublinhado do link*/
        padding: 15px;
        margin-right: 20px;
        font-family: 'Roboto', sans-serif;
    }

    header#container { 
        position: relative;
    }

    header nav#conteudo {
        width: 80vw;
        margin-left: 6%;
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        transform: translate(-50%, -50%);
    }

    menu#main a#login{ display: block; }

    menu#main a#telefone{ display: block; }

    menu#main a#reserve{ display: block; }

    a#reserve {
        background-color: black;
        color: white;
        margin-right: 20px;
        display: flex;
    }

    #info {
        display: flex;
        position: relative;
        left: 30vw;
    }
}