@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){

    body, html {
        width: 100vw;
    }

    #burguer{ display: none; }

    header nav.main a { display: block; }

    header a {
        color: black;
        text-decoration: none; /*Para tirar o sublinhado do link*/
        padding: 15px;
        margin-right: 20px;
        font-family: 'Roboto', sans-serif;
    }

    header#container { 
        position: relative;
    }

    header nav#conteudo {
        width: 90vw;
        margin-left: 6%;
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        transform: translate(-50%, -50%);
    }

    menu#main a#reserve{ display: block; }

    a#reserve {
        background-color: black;
        color: white;
        margin-right: 20px;
        display: flex;
    }

    main {
        height: 1300px;
    }

    main div.imagem1 {
        background-image: url(../imagens/fundo_azul.jpg);
        height: 500px;
        position: relative;
    }

    main  div.imagem1  h1 {
        line-height: 1.2em;
        font-size: 4.5em;
    }

    main div.retangulo {
        width: 100px;
        height: 520px;
        position: absolute;
        transform: translate(100%, 0);
    }

    main span.txtRetangulo2 {
        padding: 10px;
        padding-top: 186px;
    }

    main img.quiosque {
        margin-top: 0px;
        position: absolute;
        transform: translate(50%, 0);
    }

    main div.imgERetangulo {
        margin-top: 10px;
        position: relative;
    }

    main div.texto {
        height: 520px;
        position: absolute;
        left: 50%;
    }

    main div.texto h2 {
        margin-top: 0px;
    }

    main div.texto2 {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }

}

@media screen and (min-width: 992px)  /*Se tiver no mínimo 992px, pega desktop e telas grandes*/ {
    @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    #burguer{ display: none; }

    header nav.main a { display: block; }

    header a {
        color: black;
        text-decoration: none; /*Para tirar o sublinhado do link*/
        padding: 15px;
        margin-right: 20px;
        font-family: 'Roboto', sans-serif;
    }

    header#container { 
        position: relative;
    }

    header nav#conteudo {
        width: 90vw;
        margin-left: 6%;
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        transform: translate(-50%, -50%);
    }

    menu#main a#login{ display: block; }

    menu#main a#telefone{ display: block; }

    menu#main a#reserve{ display: block; }

    a#reserve {
        background-color: black;
        color: white;
        margin-right: 20px;
        display: flex;
    }

    #info {
        display: flex;
        position: relative;
        left: 40vw;
    }

    main {
        height: 1300px;
    }

    main div.imagem1 {
        background-image: url(../imagens/fundo_azul.jpg);
        height: 500px;
        position: relative;
    }

    main  div.imagem1  h1 {
        line-height: 1.2em;
        font-size: 4.5em;
    }

    main div.retangulo {
        width: 100px;
        height: 520px;
        position: absolute;
        left: 25%;
        transform: translate(100%, 0);
    }

    main span.txtRetangulo2 {
        padding: 10px;
        padding-top: 186px;
    }

    main img.quiosque {
        margin-top: 0px;
        position: absolute;
        left: 25.2%;
        transform: translate(50%, 0);
    }

    main div.imgERetangulo {
        margin-top: 10px;
        position: relative;
    }

    main div.texto {
        height: 520px;
        position: absolute;
        left: 50%;
    }

    main div.texto h2 {
        margin-top: 0px;
    }

    main div.texto2 {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }
}