@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em; /*Aproximadamente 16px*/
    font-weight: 600;
}

header{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.120);
    min-height: 120px;
    background-color: white;
}

header img#logo{
    float: left;
    margin: 5px;
    margin-left: 4%;
}

header a{
    color: black;
    text-decoration: none; /*Para tirar o sublinhado do link*/
    padding: 10px;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
}

header#container{
    position: relative;
}

header a.sub1{
    display: none;
}

header a.sub{
    display: none;
}

header nav#conteudo{
    width: 90vw;
    margin-left: 6%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a#login{
    padding-left: 40vw;
}

a#reserve{
    background-color: black;
    color: white;
    padding: 20px;
    margin-right: 20px;
    display: inline-block;
}

header p.pousada{
    display: none;
}

[pousadinha] {
    position: relative;
    font-weight: bold;
}
  
[pousadinha]:after {
    display: none;
    position: absolute;
    padding: 5px;
    border-radius: 3px;
    left: calc(100% + 2px);
    content: attr(pousadinha);
    white-space: nowrap;
    background-color: #0095ff;
    color: red;
}
  
[pousadinha]:hover:after {
    display: block;
}

main{
    height: 1300px;
}

main div.imagem1{
    background-image: url(../imagens/fundo_azul.jpg);
    height: 500px;
    position: relative;
}

main  div.imagem1  h1{
    font-family: 'Sriracha', cursive;
    line-height: 1.2em;
}

main div > h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.5em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

main div.retangulo{
    background-color: #E0E645;
    width: 100px;
    height: 520px;
    position: absolute;
    left: 25%;
    transform: translate(100%, 0);
}

main span.txtRetangulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: black;
    display: block;
    text-align: center;
    padding-top: 176px;
}

main img.quiosque{
    position: absolute;
    left: 25%;
    transform: translate(50%, 0);
    float: right;
    display: block;
}

main div.imgERetangulo{
    margin: 10px;
    position: relative;
}

main div.texto{
    background-color: white;
    width: 390px;
    height: 520px;
    position: absolute;
    left: 50%;
}

main div.texto h2{
    text-align: center;
    padding: 20px;
}

main div.texto p{
    text-align: justify;
    padding: 15px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 40px;
}

main div.texto a{
    text-decoration: none;
    border: 0px;
    color: white;
    background-color: black;
    padding: 15px;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    width: 200px;
    margin-left: 15px;
    display: block;
    text-align: center;
}

main div.texto2{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}